main
    font-size: 24px
    font-family: 'Roboto'
    flex-direction: column

    @media screen and (max-width: 480px)
        font-size: 16px

.wrapper, main
    @extend %centralize

.wrapper
    flex-direction: column
    width: 100%
    max-width: 1240px
    margin: auto

p
    font-size: 1em

#title
    margin: 0
    margin-bottom: 2em
    text-align: center
    font-size: 1.2em

.container
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 30px

    @media screen and (max-width: 480px)
        display: flex
        flex-direction: column
        justify-content: center
        grid-gap: 0

    div
        @extend %centralize
        flex-direction: column

        &:not(:last-child)
            @media screen and (max-width: 480px)
                margin-bottom: 1.5em 

        p
            margin: 0
        p:first-child
            margin-bottom: 1em
        span
            margin-top: 0.5em
            font-size: 1em
            opacity: .75

.recovered
    color: $green

.dead
    color: $red

#loader
    width: 15em

.show-leave-active
    transition: .1s

.show-enter-active
    transition: 1s

.show-enter-to,
.show-leave-from
    opacity: 1

.show-enter-from,
.show-leave-to
    opacity: 0

.show-enter-from
    transform: translate(0, 15px)